html {
	background-image: url("https://meshle.com/content/uploads/2019/04/GamingLP5.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;

}

h1 {
	color : #FF2C2C;
	text-align: center;
	text-decoration: underline #FF2C2C;
}

h2 {
	color : #005609;
	text-decoration: underline #005609;
}

h3 {
	text-decoration: underline;
}

p {
	font-size: 18px;
	font-family: cursive;
}

li {
	font-size: 18px;
	font-family: cursive;
}

body {
	color: #090F2C:
	font: italic small-caps bold 16px/2 cursive;
	width: 1000px;
	margin: 0 auto;
	background-color: rgba(192, 192, 192, 0.8);
	padding: 0 20px 20px 20px;
	border: 10px double black;

	
}

img {
	width: 300px;
	height: auto;
}

